.form {
  margin: auto auto auto auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3em;
  }
  
  .form .header {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
  }
  
  .form h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .form p {
    font-weight: bold;
    color: black;
  }
  
  .formBody input[type='text'] {
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  .form select {
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  .form select option {
    position: relative;
    width: 2em;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 0.85em;
    font-size: 0.75em;
    overflow-x: hidden;
  }
  
  .form #desc input {
    height: 20rem;
  }
  
  #inputDropdown {
    display: flex;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0 1em 0 0;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  #inputDropdown select {
    background-color: white;
    color: black;
    border: none;
    margin: 0;  
  }
  
  #inputDropdown select::active {
    background-color: white;
    color: black;
    border: none;
  }
  
  #inputDropdown option {
    position: relative;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 0.85em;
    font-size: 1em;
  }
  
  .form #terms {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 0.75em;
    width: 100%;
  }

  .form #terms input[type='checkbox'] {
    margin-right: 0.5em;
    position: relative;
    cursor: pointer;
  }

  .buttonL {
    display: flex;
    background-color: #a70000;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 1em;
    height: 3.5em;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: auto;
  }
  
  