.form {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;

    .header {
        padding: 1rem 0;

        h1 {
            font-size: 1.75rem;
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        
        .form-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;

            p {
                font-weight: 500;
            }

            input {
                color: black;
                background: transparent;
                padding: 0.5rem;
                border: 1px solid lightgray;
                border-radius: 0.75rem;
                font-size: 1rem;
                width: 100%;
            }

            .outline {
                display: flex;
                flex-direction: row;
                color: black;
                background: transparent;
                padding: 0.5rem;
                border: 1px solid lightgray;
                border-radius: 0.75rem;
                font-size: 1rem;
                width: 100%;
                
                select {
                    color: black;
                    background: transparent;
                    border: none;
                    font-size: 1rem;
                    width: 100%;
                    position: relative;

                    option {
                        display: flex;
                        position: relative;
                        font-size: 0.75rem;
                        overflow-x: hidden;
                    }

                    .hidden {
                        display: none;
                    }
                }

                select:focus {
                    outline: none;
                }
            }

            .org-button {
                display: flex;
                align-items: center;
                align-content: center;
                margin: 0.25rem 0 0.25rem 0;
                padding: 0.25rem;
                text-align: center;
                background: transparent;
                color: black;
                
                button {
                    background: transparent;
                    border: none;
                    color: black;
                    font-weight: 600;
                    font-size: 0.75rem;
                }
            }

        }
    }

    .terms-cont {
        display: flex;
        align-content: center;
        gap: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .input-cont {
            display: flex;
            align-items: center;

            input {
                height: 100;
                transform: scale(1.2);
            }

            input:hover {
                cursor: pointer;
            }
        }

        .content-cont {
            display: flex;
            flex-direction: row;
            font-size: 0.75rem;

            .text-red {
                color: #a70000;
                font-weight: 500;
            }
        }
    }

    .button-container {
        margin-top: auto;
        
        button {
            display: flex;
            background-color: #a70000;
            color: white;
            font-weight: bold;
            width: 100%;
            border-radius: 1rem;
            height: 3.25rem;
            align-items: center;
            justify-content: center;
            border: none;
            font-size: 1.125rem;
        }
    }
    
}