.container {
  margin: auto auto auto auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3em;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 3em; 
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    margin-bottom: 2em;
  }
  
  .header h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
    #progressBar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    #progress {
      width: 48%;
      height: 0.25em;
      background-color: #a70000;
      border-radius: 0.5rem;
    }
    
    #progress1 {
      width: 48%;
      height: 0.25em;
      background-color: lightgray;
      border-radius: 0.5rem;
    }
  
  .formBody {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    width: 100%;
    align-items: center;
  }

  .formItem {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
  }
  
  .formBody p {
    font-weight: bold;
    color: black;
  }
  
  .formBody input {
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  .formBody select {
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  .formBody select option {
    position: relative;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 0.85em;
    font-size: 1em;
    overflow-x: hidden;
  }
  
  .formBody #desc input {
    height: 20rem;
  }
  
  .formBody #inputDropdown {
    display: flex;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: 0.85em;
    font-size: 1em;
    width: 100%;
  }
  
  .formBody #inputDropdown select {
    background-color: white;
    color: black;
    border: none;
    margin: 0;  
  }
  
  .formBody #inputDropdown select::active {
    background-color: white;
    color: black;
    border: none;
  }
  
  .formBody #inputDropdown option {
    position: relative;
    color: black;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 0.85em;
    font-size: 1em;
  }
  
  
.button {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

  .buttonM {
    display: flex;
    background-color: #a70000;
    color: white;
    font-weight: bold;
    width: 60%;
    border-radius: 1em;
    height: 3em;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 0.75em;
  }
  
  .form #terms {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    font-size: 0.75em;
  }
  
