:root {
  --background-white: #ffffff;
  --accent-maroon: #a70000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
}

body {
  background: var(--background-white);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#form {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

#form h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#form p {
  font-weight: bold;
  color: black;
}

#form input {
  color: black;
  background-color: white;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 1px solid lightgray;
  border-radius: 0.85em;
  font-size: 1em;
  width: 100%;
}

#form #inputDropdown {
  color: black;
  background-color: white;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 0.85em;
  width: 100%;
}

#form #inputDropdown select {
  background-color: white;
  color: black;
  border: none;
  width: 100%;
  font-size: 1em;
}

#form #inputDropdown select::active {
  background-color: white;
  color: black;
  border: none;
}

#form #inputDropdown option {
  position: relative;
  color: black;
  background-color: white;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 0.85em;
  font-size: 1em;
}

#form #terms {
  font-size: 0.75em;
  width: 100%;
}

#form #terms input {
  width: 1em;
  cursor: pointer;
}