.auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: var(--accent-maroon);
  border-radius: 8px;
  height: 40px;
  width: 10rem;
}

.profileButton {
  color: black;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}


