.container {
  margin: auto auto auto auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 3em; 
  margin-bottom: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75em;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em 1.5em 1em 1.5em;
  text-align: left;
  width: 20rem;
}

.event h2 {
  margin-bottom: 0.75em;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.eventAction {
  display: flex;
  position: relative;
  width: 20%;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1em;
}

.auth-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 3em;
}

.buttonS {
  display: flex;
  background-color: #a70000;
  color: white;
  font-weight: bold;
  width: 10vh;
  height: 10vh;
  border-radius: 1.75em;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.buttonL {
  display: flex;
  background-color: #a70000;
  color: white;
  font-weight: bold;
  width: 80vw;
  border-radius: 1.75em;
  height: 4em;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  gap: 0.75em;
}

