.img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.settings {
  font-weight: bold;  
  text-align: center;
  scale: 1.35;
}

.username {
  text-align: center;
  margin-top: 1em;
}
