.label, .input {
    display: flex;
    align-items: center;
}

.page-wrapper {
    height: calc(100vh - 4rem);

    .navigation-wrapper {
        height: 2rem;
        margin-bottom: 1rem;
    }

    .form-wrapper {
        height: calc(100vh - 7rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .section{
            padding: 1rem;
            border: 1px solid #aaa;
            border-radius: 0.75rem;

            .item-wrapper {
                display: flex;
                height: 2rem;
                font-size: 1rem;
    
                .label {
                    width: 35%;
                    margin-right: 0.5rem;

                    p {
                        font-weight: 600;
                    }
                }
    
                .input {
                    width: calc(65% - 0.5rem);
    
                    input, select {
                        height: 1.5rem;
                        width: 100%;
                        background: transparent;
                        border: 0;
                        color: #000;
                        font-size: 1rem;
                    }
                }
            }

            .desc-wrapper {
                display: flex;
                flex-direction: column;

                .label {
                    height: 2rem;
                    
                    p {
                        font-weight: 600;
                    }
                }

                .input {
                    height: 10rem;

                    textarea {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        border: 1px solid #aaa;
                        border-radius: 0.5rem;
                        color: #000;
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
            }
        }

        .save-wrapper {
            margin-top: auto;

            button {
                width: 100%;
                height: 3rem;
                border: 0;
                border-radius: 1rem;
                background: #a70000;
                cursor: pointer;

                font-size: 1rem;
            }
        }
    }
}

.sk-wrapper {
    height: 100vh;
    padding: 2rem;

    .sk-navigation-wrapper {
        height: 2rem;
        margin-bottom: 1rem;
    }

    .sk-form-wrapper {
        height: calc(100vh - 7rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .sk-top-section {
            height: 18.125rem;
            width: 100%;
        }

        .sk-bottom-section {
            height: 10rem;
            width: 100%;
        }

        .sk-save-wrapper {
            margin-top: auto;
            height: 3rem;
        }
    }
}