.container {
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

.header {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;
}

.eventNameContainer {
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
}

.divider {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0.125em;
    background-color: #a70000;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

.schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

.schedule h3 {
    display: flex;
    align-items: center;
    text-align: left;
}

.infoContainer {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    margin-top: 0.25em;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.1em rgba(0, 0, 0, 0.25);
}

.infoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75em;
}

.infoLabel {
    font-weight: 700;
}

.infoData {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.info p {
    text-align: justify;
}

.info h3 {
    display: flex;
    align-items: center;
    text-align: left;
}

#stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

#stats h3 {
    display: flex;
    align-items: center;
    text-align: left;
}

.info #container {
    height: auto;
    text-align: center;
    position: relative;
    margin-top: 0.25em;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 0.25em 0.1em rgba(0, 0, 0, 0.25);
}

.info p {
    margin-top: 0.75em;
}

.button {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 3em;
}

.buttonL {
    display: flex;
    background-color: #a70000;
    color: white;
    font-weight: bold;
    width: 80vw;
    border-radius: 1.75em;
    height: 4em;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    gap: 0.75em;
}

.qrcodecontainer {
    display: flex;
    position: relative;
    margin-top: 2rem;
}
