.container {
  margin: auto auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-right: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
}

.img {
  border-radius: 50%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1em;
  border: 1px solid lightgray;
  box-shadow: 0 0 0.2em 0 rgba(0,0,0,0.2);
}

.infoBox .item {
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0.75em 1em 0.75em 1em;
  border-bottom: 1px solid lightgray;
}