.button {
    background-color: var(--accent-maroon);
    color: #fff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: bold;
    width: 12em;
    border-radius: 10px;
}

.button:hover {
    background-color: #fff;
    color: #a70000;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    scale: 0.75;
}

.loginHeader {
    height: 50%;
    padding: 20px;
}

.loginHeader h3 {
    margin-bottom: 20px;
}

.loginBody {
    height: 50%;
}

.loginBody h5 {
    text-align: center;
}




