.page-wrapper {
    padding: 2rem;
    background-color: #3D1414;
}

.container {
    margin: auto auto auto auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    opacity: 1;
    color: white;
}

.nav {
    position: absolute;
    top: 0;
    padding-top: 3em;
    height: 5em;
    margin-bottom: auto;
    width: 80%;
}

#scanBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    bottom: 5rem;
}

#scanBody #videoContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 80%;
    margin-top: 2.5em;
}

#scanBody #videoContainer video {
    height: auto;
    width: 100%;
}

#scanBody #videoContainer h5 {
    margin-top: 1em;
    text-align: left;
}